@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Questrial";
  }
  body {
    overflow-y: hidden;
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
body {
  @apply bg-slate-100 text-slate-600;
}
