@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Questrial";
  }
  body {
    overflow-y: hidden;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  body::before {
    z-index: -1;
    content: ""; /* Add this line to make the pseudo-element appear */
    display: block; /* Add this line to make the pseudo-element a block-level element */
    width: 100%; /* Corrected width value */
    height: 100vh;

    position: fixed;

    opacity: 1;
    background-image: linear-gradient(
        #64748b 0.7000000000000001px,
        transparent 0.7000000000000001px
      ),
      linear-gradient(
        to right,
        #64748b 0.7000000000000001px,
        #f1f5f9 0.7000000000000001px
      );
    background-size: 14px 14px;
    transition: opacity 0.8s ease, background-color 0.8s ease;
  }

  body::before {
    opacity: 0.06;
    background-color: #f1f5f9;
  }

  html.dark body::before {
    /* background-color: #020617;
    opacity: 0; 
    background-image: linear-gradient(#0b1931 1px, transparent 1px),
      linear-gradient(to right, #0b1931 1px, transparent 1px);
    background-size: 14px 14px; */

    background-color: #020617;

    background-image: linear-gradient(#000c1f 1px, transparent 1px),
      linear-gradient(to right, #000c1f 1px, #020617 1px);
    background-size: 14 14px;

    transition: opacity 0.5s ease; /* Transition the opacity property */
  }

  html.dark body::before {
    opacity: 1; /* Set opacity to 1 */
  }
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .drkbtn {
    box-shadow: -1px -1px 2px 0px rgba(30, 41, 59, 0.6) inset;
    /* -webkit-box-shadow: -2px -2px 2px 0px rgba(30, 41, 59, 0.5) inset;
    -moz-box-shadow: -2px -2px 2px 0px rgba(30, 41, 59, 0.5) inset; */
  }

  html.dark .drkbtn {
    box-shadow: -1px -1px 2px 0px rgba(6, 182, 212, 0.6) inset;
  }
  .map-container {
    perspective: 108px;
  }

  .map {
    transform: rotateX(2deg) rotateY(0deg);
    transform-style: preserve-3d;
  }

  html.dark .map svg g path {
    fill: #0f172a;
    stroke: #06b6d4;
    stroke-width: 0.3px;
  }

  .parent {
    max-width: 1440px;
    width: 100%;
  }
  .project-link {
    width: inherit;
    max-width: inherit;
  }

  .outlet:active,
  .outlet:hover {
    overflow-y: auto;
  }

  .outlet::-webkit-scrollbar {
    width: 5px;
  }

  .outlet::-webkit-scrollbar-thumb {
    height: 6px;
    visibility: hidden;
  }

  .outlet::-webkit-scrollbar-track {
    visibility: hidden;
  }

  .outlet:active::-webkit-scrollbar-thumb,
  .outlet:hover::-webkit-scrollbar-thumb,
  .outlet:focus::-webkit-scrollbar-thumb {
    visibility: visible;
    background: #334155;
  }

  .active {
    color: #f8fafc;
  }
}

body {
  @apply text-slate-600 dark:text-slate-500 transition-colors duration-1000 ease-in-out tracking-wider;
}
